:root {
    color-scheme: light dark;
}

body {
    width: 142px;
    height: 70px;
    margin: 0;
    font-family: system-ui;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#DopamineOS {
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

#Description {
    
    font-size: 8px;
    font-weight: 200;
    margin: 0;
    opacity: 0.4;
    margin-top: -1px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    
}

#timerDisplay {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}

.hidden {
    display: none !important;
}
